<style>
  .name {color: black;
  size: 10;
  font-family: Palatino;}
  .address {size:5;
  }
  body {background-image: url("bg.jpg");
  font-family: Palatino;
  color: #17202A;
  }
  .center {text-align:center;
  }
  .head {display: inline;
  color: black;
  text-align: center;
  padding: 12px 25px;
  float: left;
  font-size: 25px;
  }
  a {
  text-decoration: none;
  }
  a:link {
  color: white
  }
  a:visited {
  color: white
  }
  a:active {
  color: white
  }
  a:hover {
  color: #424949
  }
  li {
  color: white
  }
</style>
